/Listener/Listener/obj
/PackageModule/.vs
/MailSender/.vs
/MailSender/MailSender/obj
/SoftLogger/.vs
/SoftLogger/bin
/SoftLogger/obj
/SoftdebuggerWebsite/SoftdebuggerWebsite/bin
/SoftdebuggerWebsite/SoftdebuggerWebsite/obj
/PackageModule/PackageModule/obj
/PackageModule/PackageModule/bin
/Listener/Listener/bin
/Connector/.vs
/Connector/bin
/Connector/obj
/Listener/Listener/UploadedFiles
/Listener/Listener/Views
/Listener/Listener/Content
/Listener/Listener/fonts
/Listener/Listener/PackageImages
/Listener/Listener/Scripts

/PackageModule/PackageModule/bin
/PackageModule/PackageModule/obj