
<title>Enable/Disable Package Products</title>

<div class="content-wrapper">
    <div class="content-header">
        <h1>
            Add Package Product
            <small>Add available package product</small>
        </h1>
    </div>

    </div>
