@{ string Resources = Convert.ToString(ViewBag.AddLocalizationLangFile);}

<div class="content-wrapper" ng-app="CreateNewPackageapp" ng-controller="CreateNewPackagecontroller">
    <title>{{Localization.CreateNewPackageKey}}</title>
    <div class="content-header">
        <h1>
            {{Localization.CreateNewPackageKey}}
            <small>{{Localization.AddBasicPackageDetailKey}}</small>
        </h1>
    </div>


    <!-- Main content -->
    <div class="content body">
        <form name="exampleForm" class="elegant-aero">
            <div class="container">
                <input type="hidden" id="hdnResources" value="@Resources" />
                <fieldset id="basicuserdetail" style="display:block;">
                    <legend>
                        {{Localization.BasicPackageDetailKey}}
                    </legend>
                    <section>
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3">{{Localization.PackageCodeKey}}</div>
                            <div class="col-sm-8 col-md-8 col-lg-8"><input type="text" readonly="readonly" class="form-control" required autocomplete="off" id="PackageCode" ng-model="PackageDetails.BasicPackageDetails.PackageCode" /></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3">{{Localization.PackageNameKey}}</div>
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                <input type="text" class="form-control" required autocomplete="off" name="PackageName" id="PackageName" ng-model="PackageDetails.BasicPackageDetails.PackageName" />

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3">{{Localization.LanguageKey}}</div>
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                <input type="text" id="PackageLanguage" ej-autocomplete e-width="100%" e-fields-key="languageCode" e-fields-text="languageName" e-datasource="dataList" />
                                <input type="hidden" id="hdnPackageLanguage" ng-model="PackageDetails.BasicPackageDetails.PackageLanguage" />
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3">{{Localization.PackageTitleKey}}</div>
                            <div class="col-sm-8 col-md-8 col-lg-8"><input type="text" class="form-control" required id="PackageTitle" autocomplete="off" ng-model="PackageDetails.BasicPackageDetails.PackageTitle" /><!--Column right--></div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-sm-5 col-md-5 col-lg-5"></div>
                            <div class="col-sm-5 col-md-5 col-lg-5">
                                <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="HideShowProvider('basicpackagecriteriadetails','basicuserdetail','STEP1')">{{Localization.NextStepKey}}</button>
                            </div>
                        </div>
                    </section>
                </fieldset>

                <fieldset id="basicpackagecriteriadetails" style="display:none;">
                    <legend>
                        {{Localization.BasicPackageCreteriaKey}}
                    </legend>
                    <section>
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3">{{Localization.PackageMarketKey}}</div>
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                <select class="form-control" required autocomplete="off" id="PackageMarket" ng-model="PackageDetails.BasicPackageCreteria.PackageMarket">
                                    <option value="">{{Localization.SelectKey}}</option>
                                    <option value="DOM">{{Localization.DomesticKey}}</option>
                                    <option value="INT">{{Localization.InternationalKey}}</option>
                                </select>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3">{{Localization.PackageSaleMarketKey}}</div>
                            <div class="col-sm-8 col-md-8 col-lg-8">

                                <select class="form-control" id="PackageSaleMarket" required autocomplete="off" ng-model="PackageDetails.BasicPackageCreteria.PackageSaleMarket">
                                    <option value="">{{Localization.SelectKey}}</option>
                                    <option value="DOM">{{Localization.DomesticKey}}</option>
                                    <option value="INT">{{Localization.InternationalKey}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3">{{Localization.PackageValidityStartDateKey}}</div>
                            <div class="col-sm-8 col-md-8 col-lg-8">

                                <input type="text" ng-model="PackageDetails.BasicPackageCreteria.PackageValidityStartDate" id="PackageValidityStartDate" class="form-control" />

                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3">{{Localization.PackageValidityEndDateKey}}</div>
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                <input type="text" ng-model="PackageDetails.BasicPackageCreteria.PackageValidityEndDate" id="PackageValidityEndDate" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3">{{Localization.PackageBookingStartDateKey}}</div>
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                <input type="text" ng-model="PackageDetails.BasicPackageCreteria.PackageBookingStartDate" id="PackageBookingStartDate" class="form-control" />
                                <!--Column right-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3">{{Localization.PackageBookingEndDateKey}}</div>
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                <input type="text" ng-model="PackageDetails.BasicPackageCreteria.PackageBookingEndDate" id="PackageBookingEndDate" class="form-control" />


                                <!--Column right-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3">{{Localization.PackageDurationKey}}</div>
                            <div class="col-sm-8 col-md-8 col-lg-8"><input type="text" class="form-control" required autocomplete="off" ng-model="PackageDetails.BasicPackageCreteria.PackageDuration" id="PackageDuration" /><!--Column right--></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3">{{Localization.ChildMinAgeKey}}</div>
                            <div class="col-sm-8 col-md-8 col-lg-8"><input type="text" class="form-control" required autocomplete="off" ng-model="PackageDetails.BasicPackageCreteria.ChildMinAge" max="2" id="ChildMinAge" /><!--Column right--></div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3">{{Localization.ChildMaxAgeKey}}</div>
                            <div class="col-sm-8 col-md-8 col-lg-8"><input type="text" class="form-control" required autocomplete="off" ng-model="PackageDetails.BasicPackageCreteria.ChildMaxAge" max="12" id="ChildMaxAge" /><!--Column right--></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3">{{Localization.PackageLastPaymentDueKey}}</div>
                            <div class="col-sm-8 col-md-8 col-lg-8"><input type="number" class="form-control" required autocomplete="off" ng-model="PackageDetails.BasicPackageCreteria.PackageLastPaymentDue" id="PackageLastPaymentDue" /><!--Column right--></div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3">{{Localization.PackagePaymentCutOffKey}}</div>
                            <div class="col-sm-8 col-md-8 col-lg-8"><input type="number" class="form-control" required autocomplete="off" ng-model="PackageDetails.BasicPackageCreteria.PackagePaymentCutOffDay" id="PackagePaymentCutOffDay" /><!--Column right--></div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3">{{Localization.DiscountOnFullPaymentKey}}</div>
                            <div class="col-sm-8 col-md-8 col-lg-8"><input type="text" class="form-control" required autocomplete="off" ng-model="PackageDetails.BasicPackageCreteria.DiscountonFullPayment" id="DiscountonFullPayment" /><!--Column right--></div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-sm-5 col-md-5 col-lg-5"><button type="button" ng-click="HideShowProvider('basicuserdetail','basicpackagecriteriadetails','')" class="btn btn-primary btn-lg btn-block">{{Localization.PreviousStepKey}}</button></div>
                            <div class="col-sm-5 col-md-5 col-lg-5">
                                <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="HideShowProvider('UploadPackageImages','basicpackagecriteriadetails','STEP2');">{{Localization.SaveNextKey}}</button>
                            </div>
                        </div>
                    </section>
                </fieldset>

                <fieldset id="UploadPackageImages" style="display:none">
                    <legend>
                        {{Localization.AddRemovePackageImagesKey}}
                    </legend>
                    <section>
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3">{{Localization.ImageNameKey}}</div>
                            <div class="col-sm-8 col-md-8 col-lg-8"><input type="text" class="form-control" required autocomplete="off" ng-model="PackageDetails.PackageImages.ImageName" id="ImageName" /><!--Column right--></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3">{{Localization.ImageTitleKey}}</div>
                            <div class="col-sm-8 col-md-8 col-lg-8"><input type="text" class="form-control" required autocomplete="off" ng-model="PackageDetails.PackageImages.ImageTitle" id="ImageTitle" /><!--Column right--></div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3"><span>{{Localization.AttachmentsKey}}</span></div>
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                <div class="attach-field">
                                    <div class="btn btn-primary waves-effect waves-light">
                                        <div class="attchment_icon"><i class="fa fa-paperclip" aria-hidden="true"></i></div>
                                        <input type="file" id="crmfileattach">
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" id="filesize" type="text" placeholder="({{Localization.UptoTwoMBKey}})">
                                        <span id="servermessage"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 remove1">
                                <div id="image-holder"> </div>
                                <div class="row" style="margin-top:10px;">
                                    <div class="col-sm-5 col-md-5 col-lg-5"><button type="button" id="AddPackageImage" class="btn btn-primary btn-lg btn-block">{{Localization.AddImageKey}}</button></div>
                                    <div class="col-sm-5 col-md-5 col-lg-5">
                                        <button type="button" id="removeattachment" style="display:none" class="btn btn-primary btn-lg btn-block">{{Localization.RemoveImageKey}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="preattachparent" style="display:none">
                                <span>{{Localization.AllAttachmentsKey}}</span>
                                <div id="preattach" class="row"></div>
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-sm-5 col-md-5 col-lg-5"><button type="button" ng-click="HideShowProvider('basicpackagecriteriadetails','UploadPackageImages','')" class="btn btn-primary btn-lg btn-block">Previous Step</button></div>
                            <div class="col-sm-5 col-md-5 col-lg-5">
                                <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="HideShowProvider('addpackagecancellationpolicy','UploadPackageImages','')">{{Localization.addpackagecancellationpolicyKey}}</button>
                            </div>
                        </div>
                    </section>
                </fieldset>

                <fieldset id="addpackagecancellationpolicy" style="display:none">
                    <legend>
                        Add Package Cancellation Policy
                    </legend>
                    <section>
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3">Cancellation Policy Format</div>
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                <select class="form-control" id="CancellationPolicyFormat" required autocomplete="off" ng-model="PackageDetails.PackageCancellationPolicy.ViewFormat">
                                   <option value="text">text/plain</option>
                                    <option value="html">text/html</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3">Cancellation Policy Text</div>
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                <textarea class="form-control" style="height:100px;overflow-y: scroll;resize: none;" ng-model="PackageDetails.PackageCancellationPolicy.CancellationPolicyText" name="CancellationPolicyText" id="CancellationPolicyText"></textarea>
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-sm-5 col-md-5 col-lg-5"></div>
                            <div class="col-sm-5 col-md-5 col-lg-5">
                                <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="SaveCancellationPolicy(PackageDetails);">Add Package Cancellation Policy</button>
                            </div>
                        </div>

                        <div class="row" style="margin-top:10px;">
                            <div class="col-sm-5 col-md-5 col-lg-5"><button type="button" class="btn btn-primary btn-lg btn-block">Previous Step</button></div>
                            <div class="col-sm-5 col-md-5 col-lg-5">
                                <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="AddPackageCosting(PackageDetails)">Add Package Costing</button>
                            </div>
                        </div>

                    </section>
                </fieldset>
            </div>
        </form>
    </div>

</div>

<script src="~/Areas/Admin/Assets/script/Package/CreateNewPackage.js"></script>

<link href="~/Areas/Admin/Assets/css/Package/NewPackage.css" rel="stylesheet" />