@using PackageBusinessModel.Models;
@using BusinessModels.PackageBusinessModel;
@{
    List<PackageProduct> objPackageProductlst = ViewBag.objPackageProductlst;
    PackageCostingRequestBridgeModel objPackageCostingRequestBridgeModel = ViewBag.BridgeModel;
}
<title>Add Package Costing</title>

<div class="content-wrapper" ng-app="AddPackageCostingApp" ng-controller="AddPackageCostingController">
    <input type="hidden" id="hdnPackageCode" value="@objPackageCostingRequestBridgeModel.PackageCode" />

    <input type="hidden" id="hdnPackageLanguage" value="@objPackageCostingRequestBridgeModel.PackageLanguage" />
    <div class="content-header">
        <h1>
            Update Package Costing
            <small>Add Package Product Costing</small>
        </h1>
    </div>
    <div class="content body">
        <div class="container">
            <section id="basicuserdetail">
                @if (objPackageProductlst.Count(m => m.ProductCode == "HHL") > 0)
                { <div class="row">
                    <div class="well clearfix">
                        <fieldset class="scheduler-border">
                            <legend class="scheduler-border">Add Hotel(Fill all the required details to add the hotel.)</legend>
                            <form class="form-inline" name="addpackagecosting">
                                <div class="form-group divmargin">
                                    <input type="hidden" ng-model="PackageCode" value="@objPackageCostingRequestBridgeModel.PackageCode" />
                                    <label for="exampleInputName">Hotel Name</label>
                                    <input type="text" class="form-control" required ng-model="HotelName" name="HotelName" placeholder="Hotel Name">
                                </div>
                                <div class="form-group divmargin">
                                    <label for="exampleInputage">Hotel City</label>
                                    <input type="text" class="form-control" required ng-model="HotelCityName" name="HotelCityName" placeholder="Hotel City" />
                                </div>
                                <div class="form-group divmargin">
                                    <label for="exampleInputage">Room Type</label>
                                    <select class="form-control" required autocomplete="off" id="RoomType" ng-model="RoomType">
                                        <option value="SINGLE" selected="selected">Single</option>
                                        <option value="Double">Double</option>
                                        <option value="TRIPLE">Triple</option>
                                        <option value="QUAD">Quad</option>
                                        <option value="QUEEN">Queen</option>
                                        <option value="KING">King</option>
                                        <option value="TWIN">Twin</option>
                                    </select>

                                </div>
                                <div class="form-group divmargin">
                                    <label for="exampleInputSalary">Adult Cost</label>
                                    <input type="text" class="form-control" name="AdultCost" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" required ng-model="AdultCost" placeholder="Adult Cost">
                                </div>
                                <div class="form-group divmargin">
                                    <label for="exampleInputSalary">Child Cost</label>
                                    <input type="text" class="form-control" required ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" name="ChildCost" ng-model="ChildCost" placeholder="Child Cost">
                                </div>

                                <div class="row" style="margin-top:10px;">
                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                    </div>
                                    <div class="col-sm-5 col-md-5 col-lg-5">
                                        <button type="button" class="btn btn-primary btn-lg btn-block" ng-disabled="addpackagecosting.$invalid" ng-click="addHotel()"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add Hotel</button>
                                    </div>
                                </div>
                            </form>
                            <span ng-show="addpackagecosting.HotelName.$touched && addpackagecosting.HotelName.$invalid" class="modelformerror">The Hotel Name is required.</span><br/>
                            <span ng-show="addpackagecosting.HotelCityName.$touched && addpackagecosting.HotelCityName.$invalid" class="modelformerror">The Hotel City Name is required.</span><br />
                            <span ng-show="addpackagecosting.AdultCost.$touched && addpackagecosting.AdultCost.$invalid" class="modelformerror">Kindly provide valid 2 digit money amount into adult cost.</span><br />
                            <span ng-show="addpackagecosting.ChildCost.$touched && addpackagecosting.ChildCost.$invalid" class="modelformerror">Kindly provide valid 2 digit money amount into child cost.</span><br />
                            
                        </fieldset>
                    </div>
                    <div class="container" style="padding:10px 10px;">
                        <h2>Add Hotel Costing</h2>
                        <table class="table table-bordered" id="tbl_employees">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Package Code</th>
                                    <th>Hotel Name</th>
                                    <th>Hotel City</th>
                                    <th>Room Type</th>
                                    <th>Adult Cost</th>
                                    <th>Child Cost</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody id="tbl_posts_body">
                                <tr ng-repeat="hotel in HotelData track by $index">
                                    <td><span class="sn">{{hotel.id}}</span>.</td>
                                    <td>{{hotel.packageCode}}</td>
                                    <td>{{hotel.hotelName}}</td>
                                    <td>{{hotel.hotelCityName}}</td>
                                    <td>{{hotel.roomType}}</td>
                                    <td>{{hotel.adultCost}}</td>
                                    <td>{{hotel.childCost}}</td>
                                    <td><a class="btn btn-xs delete-record" ng-click="removeRow($index)"><i class="glyphicon glyphicon-trash"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-3 col-md-3 col-lg-3"></div>

                    <div class="col-sm-5 col-md-5 col-lg-5"><button type="button" readonly="readonly" ng-disabled="HotelData.length==0" ng-click="AddHotelsCosting()" class="btn btn-primary btn-lg btn-block">Add Hotels</button></div>
                </div>
                }


                <div class="row" style="margin-top:10px;">
                    @if (objPackageProductlst.Count(m => m.ProductCode == "IRL") > 0)
                    {
                        <div class="col-sm-5 col-md-5 col-lg-5"><img src="~/Images//ProductImages/train.png" title="Add Train Costing" style="height:50%;width:50%;cursor:pointer" /></div>
                    }

                    @if (objPackageProductlst.Count(m => m.ProductCode == "BUS") > 0)
                    {                <div class="col-sm-5 col-md-5 col-lg-5"><img src="~/Images//ProductImages/bus.png" title="Add Bus Costing" style="height:50%;width:50%;cursor:pointer" /></div>

                    }


                </div>
                <div class="row" style="margin-top:10px;">
                    @if (objPackageProductlst.Count(m => m.ProductCode == "TRF") > 0)
                    {
                        <div class="col-sm-5 col-md-5 col-lg-5"><img src="~/Images//ProductImages/transfer.png" title="Add Transfer Costing" style="height:50%;width:50%;cursor:pointer" /></div>
                    }
                    @if (objPackageProductlst.Count(m => m.ProductCode == "SSG") > 0)
                    {
                        <div class="col-sm-5 col-md-5 col-lg-5"><img src="~/Images//ProductImages/sightseeing.png" title="Add Sightseeing Costing" style="height:50%;width:50%;cursor:pointer" /></div>
                    }

                </div>

            </section>
            @if (objPackageProductlst.Count(m => m.ProductCode == "AIR") > 0)
            {
                <fieldset id="FlightCostingSection" style="display:block;">
                    <legend>
                        Manage Flight Costing
                    </legend>
                    <section>
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3" style="margin-top:10px;">

                                <input type="text" class="form-control" id="DepartureAirport" required ej-autocomplete e-width="100%" ng-keyup="GetAirportList();" e-fields-key="airportCode" e-fields-text="airportText" e-datasource="airportList" placeholder="Airport From" />
                                <input type="hidden" id="hdnDepartureAirport" ng-model="FlightCosting.DepartureAirport" />

                            </div>
                            <div class="col-sm-3 col-md-3 col-lg-3" style="margin-top:10px;"><input type="text" class="form-control" required autocomplete="off" placeholder="Airport To" /></div>
                            <div class="col-sm-3 col-md-3 col-lg-3" style="margin-top:10px;">

                                <input type="text" id="DepartureDate" class="form-control" required autocomplete="off" placeholder="Departure Date" />

                            </div>
                            <div class="col-sm-3 col-md-3 col-lg-3" style="margin-top:10px;"><input type="text" class="form-control" required autocomplete="off" placeholder="Arrival Date" /></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3" style="margin-top:10px;"><input type="text" class="form-control" required autocomplete="off" placeholder="Departure Time" /></div>
                            <div class="col-sm-3 col-md-3 col-lg-3" style="margin-top:10px;"><input type="text" class="form-control" required autocomplete="off" placeholder="Arrival Time" /></div>

                        </div>
                    </section>
                    <legend>
                        Add/Update Costing
                    </legend>
                    <section>

                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3" style="margin-top:10px;"><input type="text" class="form-control" required autocomplete="off" placeholder="Select Currency" /></div>
                            <div class="col-sm-3 col-md-3 col-lg-3" style="margin-top:10px;"><input type="text" class="form-control" required autocomplete="off" placeholder="Adult Price" /></div>
                            <div class="col-sm-3 col-md-3 col-lg-3" style="margin-top:10px;"><input type="text" class="form-control" required autocomplete="off" placeholder="Child Price" /></div>
                            <div class="col-sm-3 col-md-3 col-lg-3" style="margin-top:10px;"><button type="button" class="btn btn-primary btn-lg btn-block">Add Flight</button></div>
                        </div>
                    </section>
                </fieldset>
            }
        </div>

    </div>

</div>
<script src="~/Areas/PackageCosting/Assets/AddPackageCosting.js"></script>

