
<title>Create User</title>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <h1>
            Create New User
            <small>Add Personal Information</small>
        </h1>
    </div>
    <!-- Main content -->
    <div class="content body">
        <div class="container" ng-app="CreateUserapp" ng-controller="CreateNewUsercontroller">
           <section id="basicuserdetail">
               <div class="row">
                   <div class="col-sm-3 col-md-3 col-lg-3">Employee Id<!--Column left--></div>
                   <div class="col-sm-8 col-md-8 col-lg-8"><input type="text" class="form-control" required autocomplete="off" ng-model="CreateNewuser.EmployeeID" /><!--Column right--></div>
               </div>
               <div class="row">
                   <div class="col-sm-3 col-md-3 col-lg-3">First Name</div>
                   <div class="col-sm-8 col-md-8 col-lg-8"><input type="text" class="form-control" required autocomplete="off" ng-model="CreateNewuser.FirstName" /></div>
               </div>
               <div class="row">
                   <div class="col-sm-3 col-md-3 col-lg-3">Last Name<!--Column left--></div>
                   <div class="col-sm-8 col-md-8 col-lg-8"><input type="text" class="form-control" required autocomplete="off" ng-model="CreateNewuser.LastName" /><!--Column right--></div>
               </div>
               <div class="row">
                   <div class="col-sm-3 col-md-3 col-lg-3">Email<!--Column left--></div>
                   <div class="col-sm-8 col-md-8 col-lg-8"><input type="text" class="form-control" required autocomplete="off" ng-model="CreateNewuser.Email" /><!--Column right--></div>
               </div>
               <div class="row" style="margin-top:10px;">
                   <div class="col-sm-3 col-md-3 col-lg-3"></div>
                   <div class="col-sm-8 col-md-8 col-lg-8">
                       <button ng-click="RegisterNewuser(CreateNewuser);" type="button" class="btn btn-primary btn-lg btn-block">Create User</button>
                       @*<a href="#"  class="btn btn-primary btn-lg"><i class="icon-edit icon-white"></i> Next Step</a>*@
                   </div>
               </div>
           </section>
        </div>

    </div>

</div>



<script src="~/Areas/Admin/Assets/script/CreateNewUser.js"></script>

