
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div> We are really sorry..
        <img src="~/Images/issue-log.jpg" />
  
    </div>
</body>
</html>
